.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 0 3px 0px;
      float: left;
      width: 20%;
      @include screen('mobile') {
        width: 100%;
      }
    }
  }
  a {
    display: block;
    padding: 16px 0 14px; 
    text-align: center;
    color: #5b5b5b;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 4px solid #a4a4a4;
    letter-spacing: 1px;
    transition: all .5s;
    @include screen('mobile') {
      background: #a4a4a4;
      border-bottom: 1px solid #fff;
      color: #fff;
    }
    @include text-overflow;
    @include box-sizing;
    &:hover,&:focus {
      background: #a4a4a4;
      color: #fff;
    }
    &.active{
      border-bottom: 4px solid $primaryColor;
      @include screen('mobile') {
        background-color: $primaryColor;
        border-bottom: 0;
        color: #fff;
      }
      &:hover,&:focus {
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
}
.category2 {
  @extend %clearfix;
  text-align: left;
  margin: 1em -4px;
  ul {
    @include li-reset;
    li {
      margin: 0px 4px 8px 4px;
      float: left;
      @include screen('mobile') {
        width: 100%;
      }
    }
  }
  a {
    display: block;
    padding: 8px 15px; 
    text-align: center;
    color: #fff;
    background: #8a451c;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all .5s;
    @include screen('mobile') {
    }
    @include text-overflow;
    @include box-sizing;
    &:hover,&:focus {
      background: $primaryColor;
    }
    &.active{
      background: $primaryColor;
      &:hover,&:focus {

      }
    }
  }
}